{% extends "blog/base.html" %} {% block content %}

<div class="selection">
  <div class="container">
    <div class="content-section">
      <div class="title">
        <h1>About Us</h1>
      </div>
      <div class="content">
        <h3>
          The first thing you learn when you're blogging is that people are one
          click away from leaving you.
        </h3>
        <p>
          Its a place where you can share ur own though ......and we just create
          this site .we hope you like it. assure you,then in the future ,we will
          be going to make this platform more dynamic <br />
          for further details you can contact us. <br />THANK YOU.
        </p>
        <div class="button">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Read more
          </button>
        </div>
      </div>
      <div class="social">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <a href=""><i class="fab fa-twitter"></i></a>
        <a href=""><i class="fab fa-instagram"></i></a>
      </div>
      <div class="wrapper">
        <div class="button">
          <div class="icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
          </div>
        </div>

        <div class="image-section">
          <img src="https://macln.files.wordpress.com/2011/01/blog_logo.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
